// .form-container
// {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: aqua;

// }
.form-container{

  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: aqua;
  height: 100vh;
 .button-center{
   text-align: center;

   button{
     width:50% ;
   }
 }
}
.form-caption{
  width:350px;
}
