<div class="home-container">

  <div class="row  caption  align-items-center justify-content-center h-100  ">


    <div class="  overflow-scroll col-md-3  bg-white h-50 rounded-3">
      <div class="d-flex justify-content-between">
        <h3 class="ms-2 mt-2 mb-3"> LIST</h3>


          <img (click)="openDialog()" class="img-fluid create-icon mt-1" src="assets/images/page.png" alt="create list">
      </div>

      <ul *ngFor="let todo of toDos" class="menu-list">
        <li class=" d-flex  justify-content-between">
          <a (click)="dispalyToDoInformation(todo)" class=" ">{{todo?.name}}</a>
          <div class="action">
            <i class="fas fa-edit me-3 " (click)="updateToDo(todo)"></i>
            <i (click)="deleteToDo(todo)" class="fas fa-trash ms text-danger"></i>
          </div>

        </li>

      </ul>

      <div class=" text-center mt-5 mb-5" *ngIf="toDos.length<=0">
        Your to task is empty <br>
        create to task
      </div>

    </div>
    <div class="  col-md-5  bg-grey h-50 rounded-3  ">
      <div *ngIf="toDos.length>0" class="d-flex align-items-center h-100 justify-content-center">
        <div class="card text-center w-50 ">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">{{toDo.title}}</h5>
            <p class="card-text">{{toDo.discription}}</p>

          </div>
          <div class="card-footer text-muted">
          {{toDo.updatedAt}}
          </div>
        </div>

      </div>

      <div class=" text-center mt-5 mb-5" *ngIf="toDos.length<=0">
        Your to task is empty <br>
        create to task
      </div>

    </div>
  </div>
</div>
